%link{:href=>"http://fonts.googleapis.com/css?family=Anton", :rel=>'stylesheet'}
.container
  .row-fluid
    .span6
      .transparent-region
        %h2 Mizzou Computing Association
        %p If you're up for learning how to grapple with the latest tech, we encourage you to join us. Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff. What's not to like?
        %p Have a cool technology or project you'd like to share? Let us know!
      .transparent-region
        %h3 Get Involved
        %p
          Anyone can join MCA regardless of skill level! We have meetings on Tuesdays at 6 PM every other week. For more information on upcoming events, check out our
          =link_to('events page', events_path)
          and the
          =link_to('Facebook group', "https://www.facebook.com/groups/MizzouACM/")+"."
      .transparent-region
        %h3 Upcoming Events
        %p
          <iframe src="https://www.google.com/calendar/embed?src=16ke8d0002acqmrokibsu4si3s%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
    .span4
      .transparent-region
        %h3 Officers
        %table.table.borderless
          %tr
            %td
              %h5
                Drew Wetherington
            %td
              President
          %tr
            %td
              %h5
                Corey Matzat
            %td
              Vice President
          %tr
            %td
              %h5
                Alex Wilhelm
            %td
              Secretary
          %tr
            %td
              %h5
                Dillion Byrne
            %td
              Treasurer
          %tr
            %td
              %h5
                Tyler Nivin
            %td
              Social Chair
        %p
          Questions, comments, concerns? Contact Drew at
          =mail_to "agwrnd@mail.missouri.edu", 'agwrnd@mail.missouri.edu'
        



//If you're up for learning how to grapple with the latest tech, we encourage you to join us.
//Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff.  What's not to like?
//%p Have a cool technology or project you'd like to share?  Drop us a line.
//- @feed.each do |activity|
//=render_activity(activity)
