.transparent-region
  %h2 MCA Calendar
  <iframe src="https://www.google.com/calendar/embed?src=16ke8d0002acqmrokibsu4si3s%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="100%" height="650px" frameborder="0" scrolling="no"></iframe>



%h2.transparent-region Past Events
- unless @past_events.empty?
  =render 'events/events_list', :events => @past_events
- else
  %p.transparent-region This section will hopefully grow very quickly as the new ACM leadership plans tons of cool stuff!
